<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saumya.fitofyindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".YogaStartWork_2nd"
        android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".YogaStartWork"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".YogaWorkOut"
        android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".YogaActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IndividualMain"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".VerificationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".LoginIndividual"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".NameRollActivity" />
        <activity android:name=".ClassSectionActivity" />
        <activity android:name=".StrenghtActivity" />
        <activity android:name=".BalanceActivity" />
        <activity android:name=".AgilityActivity" />
        <activity android:name=".SpeedActivity" />
        <activity android:name=".AfterLogin" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".OrganisationMainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".General"
         />
        <activity android:name=".Beauty_tip"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Excercise"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Healthactivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Healthtip"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CounterActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GymMainActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GymEditWorkAct"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GymStartWorkAct"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GymStartWorkAct_2nd"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GymWorkoutAct"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>